/* Module for individual components' rules */

.box {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    background-color: rgb(187, 189, 186);
}

.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "hd hd"
                         "mn sd"
                         "ft ft";
}


button {
    padding: 4px 15px;
    background-color: rgb(14, 177, 218);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}



nav {
    border: 1px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.navItems {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    text-align: center;
    list-style: none;
}

.navItems li {
    text-align: center;
    margin: auto auto auto 0; 
    list-style: none;
    width: 100px;
}

.avatar {
    vertical-align: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}