html, body {
    height: 100%;
    margin: 0;
}

header {
    grid-area: hd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

main {
    grid-area: mn;
    background-image: url(guitar2.jpeg);
    background-position: center;
    height: 300px;
    background-size: cover;
}

aside {
    grid-area: sd;
    background-image: url(guitar1.jpeg);
    background-position: center;
    height: 300px;
    background-size: cover;
}

footer {
    grid-area: ft;
}